/* Acá va tu código */
* {
    background-color: lavender;
}

h1 {
  text-align: center; 
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px; 
  
}

textarea {
    background-color: white;
    height: 200px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;

}

.block {
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
    position: center;
    background-color: ghostwhite;
    font-size: 16px;
    font: bold;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
}

.clear {
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
    position: center;
    background-color: ghostwhite;
    font-size: 16px;
    font: bold;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
}

.position {
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    position: center;
    font-size: 16px;
    font: bold;
    font-family: 'Courier New', Courier, monospace;
}

div {
    text-align:center;
    margin:auto;
}